# NPM

# node
node_modules

# git
.git
.gitattributes
.gitignore

# vscode
.vscode

# ESLint
.eslintrc.json
.eslintignore

# prettier
.prettierrc.json
.prettierignore

# project
*.log
test/
docs/

# github
.github/
