# Prettier
# git
.git
.gitattributes
.gitignore

# vscode
.vscode

# docs
docs/

# Logs
logs
*.log

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Dependency directories
node_modules/

# pnpm
pnpm-lock.yaml

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.test

# build
dist