name: Publish Package

permissions:
  id-token: write # Required for OIDC
  contents: read

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: setup environment
        uses: ./.github/actions/setup

      - name: test
        run: pnpm test

      - name: build
        run: pnpm build

      - name: publish
        run: pnpm publish --access public --no-git-checks
